{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    {% if errors %}

    	<div class="alert alert-danger d-flex align-items-center container" role="alert">
{#          <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>#}
          <div>
              {{errors}}
          </div>
        </div>
    {% endif %}

	<div class="container py-5" style="width: 350px">
        <form  method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input name="password1" type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirm</label>
                <input name="password2" type="password" class="form-control" id="exampleInputPassword1">
            </div>

            <button type="submit" class="btn btn-outline-success" style="margin: 0 auto; display: block;">Submit</button>
        </form>
    </div>
{% endblock %}