<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Finance Management</title>
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">


   <style>
       .custom-color {
           background-color: #203F7C;
           color: #ffffff;
        }
       .custom-button {
            padding: 10px 20px;
            border: 2px solid #203F7C; /* Цвет рамки кнопки */
            color: #ffffff; /* Цвет текста на кнопке */
            text-decoration: none;
            background-color: #203F7C; /* Цвет кнопки */
            transition: color 0.3s, background-color 0.3s;
       }
       .custom-button:hover {
            color: #203F7C; /* Цвет текста при пм */
            background-color: #fff; /* Цвет внутренней области кнопки при наведении */
            border: 2px solid #203F7C; /* Цвет рамки кнопки */
       }
       .custom-button-create-expence {
            color: #ffffff; /* Цвет текста на кнопке */
            background-color: #203F7C; /* Цвет кнопки */
            transition: color 0.3s, background-color 0.3s;
            border: 2px solid #203F7C; /* Цвет границы кнопки */
       }
       .custom-button-create-expence:hover {
            color: #203F7C; /* Цвет текста при наведении */
            background-color: #fff; /* Цвет внутренней области кнопки при наведении */
            border: 2px solid #203F7C; /* Цвет границы кнопки */
       }
       .custom-button-create-income {
            color: #ffffff; /* Цвет текста на кнопке */
            background-color: #203F7C; /* Цвет кнопки */
            transition: color 0.3s, background-color 0.3s;
            border: 2px solid #203F7C; /* Цвет границы кнопки */
       }
       .custom-button-create-income:hover {
            color: #203F7C; /* Цвет текста при наведении */
            background-color: #fff; /* Цвет внутренней области кнопки при наведении */
            border: 2px solid #203F7C; /* Цвет границы кнопки */
       }
       hr.custom {
            width: 90%; /* Изменение ширины */
            border: none; /* Убираем стандартные бордеры */
            height: 2px; /* Высота разделителя */
            color: #203F7C;
            background: linear-gradient(to right, transparent, #203F7C, transparent);
            opacity: 100;
            margin: 0 auto;

       }
       body {
           font-family: 'Roboto Condensed', sans-serif;
       }
       h1, h3, h5 {
           font-family: 'Oswald', sans-serif;
       }
       .rounded-navbar {
            border-radius: 0 0 10px 10px; /* Задаем радиус скругления */
        }
   </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg rounded-navbar" style="background-color: #203F7C; text-decoration: #ffffff">
      <div class="container-fluid">
        <a class="navbar-brand text-light" href="{% url 'home-page' %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-droplet" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0q.164.544.371 1.038c.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8m.413 1.021A31 31 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
  <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87z"/>
</svg>PHIN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item ">
              <a class="nav-link active text-light" aria-current="page" href="{% url 'home-page' %}">/Home/</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button class="nav-link text-light" type="submit">/log out/</button>
                    </form>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="{% url 'profile' %}">/{{ request.user.username }}/
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                    </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <h1 class="text-center mb-4">PHIN</h1>
    <hr class="custom">
{#   <div class="container ml-4 mr-4">#}
{#        <div style="text-align: right; margin: 10px;">#}
{#        <form action="{% url 'export' %}" method="post">#}
{#            {% csrf_token %}#}
{#            <button class="btn btn-outline-success custom-button-create-income" type="submit">export to excel</button>#}
{#        </form>#}
{#        </div>#}
       <div class="row mt-4">

           <div class="col-2 ml-4 mr-2">
               <h4 class="mb-3 text-center">FILTERS</h4>
                    <form id="filterForm" action="{% url 'filter-balance-changes' %}" method="GET">
                        <div class="form-group">
                            <label for="type">Type:</label>
                            <select id="typeSelect" name="type" class="form-control">
{#                                <option value="">--All Types--</option>#}
                                <option value="I" {% if selected_type == 'I' %} selected {% endif %}>Income</option>
                                <option value="E" {% if selected_type == 'E' %} selected {% endif %}>Expense</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="category">Category:</label>
                            <select id="categorySelect" name="category" class="form-control" disabled>
                                <option value="">--Select Type First--</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}" {% if category.id == selected_category %} selected {% endif %}>{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="start_date">Start Date:</label>
                            <input type="date" id="startDatePicker" name="start_date" class="form-control" value="{% if start_date %}{{ start_date|date:'Y-m-d' }}{% endif %}">
                        </div>
                        <div class="form-group">
                            <label for="end_date">End Date:</label>
                            <input type="date" id="endDatePicker" name="end_date" class="form-control" value="{% if end_date %}{{ end_date|date:'Y-m-d' }}{% endif %}">
                        </div>
                        <button id="applyFiltersButton" type="button" class="btn custom-button">Apply Filters</button>
                    </form>


                    <script>
                        document.getElementById('typeSelect').addEventListener('change', function() {
                            var selectedType = this.value;
                            var categorySelect = document.getElementById('categorySelect');
                            var applyFiltersButton = document.getElementById('applyFiltersButton');

                            if (selectedType) {
                                categorySelect.disabled = false;
                                applyFiltersButton.disabled = false;
                            } else {
                                categorySelect.value = '';
                                categorySelect.disabled = true;
                                applyFiltersButton.disabled = true;
                            }
                        });

                        document.getElementById('applyFiltersButton').addEventListener('click', function() {
                            var selectedType = document.getElementById('typeSelect').value;
                            var selectedCategory = document.getElementById('categorySelect').value;


                            document.getElementById('filterForm').submit();
                        });
                    </script>
                    <script>
                        function setFiltersFromURL() {
                            var urlParams = new URLSearchParams(window.location.search);
                            var selectedType = urlParams.get('type');
                            var selectedCategory = urlParams.get('category');

                            document.getElementById('typeSelect').value = selectedType;
                            if (selectedType) {
                                document.getElementById('categorySelect').disabled = false;
                                document.getElementById('categorySelect').value = selectedCategory;
                            }
                        }

                         window.addEventListener('load', setFiltersFromURL);

                        document.getElementById('applyFiltersButton').addEventListener('click', function() {
                            var selectedType = document.getElementById('typeSelect').value;
                            var selectedCategory = document.getElementById('categorySelect').value;

                            var urlParams = new URLSearchParams(window.location.search);
                            urlParams.set('type', selectedType);
                            if (selectedType && selectedCategory) {
                                urlParams.set('category', selectedCategory);
                            }

                            var newUrl = window.location.pathname + '?' + urlParams.toString();
                            window.history.pushState({path: newUrl}, '', newUrl);
                        });
                    </script>
                    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<script>
    $(document).ready(function() {
        // Активация выбора категории после выбора типа
        $('#typeSelect').change(function() {
            if ($(this).val() !== '') {
                $('#categorySelect').prop('disabled', false);
            } else {
                $('#categorySelect').val('');
                $('#categorySelect').prop('disabled', true);
            }
        });

        // Обработка нажатия на кнопку применить фильтры
        $('#applyFiltersButton').click(function() {
            $('#filterForm').submit();
        });

        // Инициализация календаря
        $(function() {
            $('#startDatePicker').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true
            });
            $('#endDatePicker').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true
            });
        });
    });
</script>
           </div>
{#       </div>#}

{#       <div class="row mt-4">#}
           <div class="col-7 mr-4">
               <h4 class="mb-3 text-center">BALANCE CHANGES</h4>
                <div style="text-align: center; margin: 10px">
                <form action="{% url 'export' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-outline-success custom-button-create-income" type="submit">export to excel <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-up" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5m-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5"/>
                    </svg></button>
                </form>
                </div>
               <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Type</th>
                      <th scope="col">Category</th>
                      <th scope="col">Sum</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody class="table-group-divider">
                    {% for change in balance_changes %}
                        <tr>
                          <td>{{ change.date }}</td>
                          {% if change.type == "I" %}
                            <td><h5><span class="badge text-bg-success">INCOME</span></h5></td>
                          {% else %}
                            <td><h5><span class="badge text-bg-danger">EXPENSE</span></h5></td>
                          {% endif %}
                          <td><h5><span class="badge custom-color">{% if change.category %}{{ change.category }}{% endif %}</span></h5></td>
                          <td>{{ change.sum }}</td>
                          <td>
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{ change.id }}">delete</button>

            <div class="modal" id="exampleModal{{ change.id }}" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Are you sure?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>You will not be able to undo it.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                            <form action="{% url 'delete-balance-change' change.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </td>
                        </tr>
{#                       <li class="list-group-item">#}
{#                           <span class="badge text-bg-primary">{{ change.type }}</span> - {{ change.amount }} - {{ change.date }}#}
{#                       </li>#}
                    {% endfor %}
                  </tbody>
               </table>
           </div>
           <div class="col-2 mr-1 ">
                <h4 class="mb-3 text-center">NEW BALANCE CHANGE</h4>
                <h6 class="mb-3 text-center">single-time</h6>

{#               <div class="col mr-4">#}
{#                   <button id="" type="button" class="btn custom-button mb-1">Apply Filters</button>#}
{#                   <button id="" type="button" class="btn custom-button">Apply Filters</button>#}
{#               </div>#}
{#               <div class="col">#}
{#                   <button id="" type="button" class="btn custom-button mb-1">Apply Filters</button>#}
{#                   <button id="" type="button" class="btn custom-button">Apply Filters</button>#}
{#               </div>#}
                <div class="d-grid gap-2 mb-3 col-6 mx-auto">
                    <a href="{% url 'create-income' %}" class="btn btn-outline-success custom-button-create-income" type="button">Income</a>
                    <a href="{% url 'create-expence' %}" class="btn btn-outline-danger custom-button-create-expence" type="button">Expense</a>
                </div>
                <hr class="custom">

               <h6 class="mb-3 mt-3 text-center">regular</h6>
                <div class="d-grid gap-2 col-6 mx-auto">
                  <button class="btn btn-outline-success custom-button-create-income" type="button">Regular Income</button>
                </div>
                <hr class="custom" style="margin-top: 15px; margin-bottom: 15px">
                <h4 style="text-align: center">NEW CATEGORY</h4>
                <div class="d-grid gap-2 mb-3 col-6 mx-auto">
                    <a href="{% url 'create-category' %}" class="btn btn-outline-success custom-button" type="button">Create</a>
                </div>
           </div>
       </div>
{#   </div>#}

   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>
